:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
.login-container {
  text-align: center;
  margin-top: 100px;
}

.login-container button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.dashboard-container {
  padding: 20px;
}

.dashboard-nav a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.profile-container {
  padding: 20px;
  background: #f5f5f5;
}

.settings-container {
  padding: 20px;
  background: #eaeaea;
}
.userdetails-container {
  padding: 20px;
}

.userdetails-container button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}
